[submodule "color-theme-tangotango"]
	path = color-theme-tangotango
	url = https://github.com/sona-tar/color-theme-tangotango.git
[submodule "color-theme-zenburn"]
	path = color-theme-zenburn
	url = https://github.com/sona-tar/color-theme-zenburn.git
[submodule "color-theme-ir_black"]
	path = color-theme-ir_black
	url = https://github.com/sona-tar/color-theme-ir_black
[submodule "color-theme-molokai"]
	path = color-theme-molokai
	url = https://github.com/sona-tar/color-theme-molokai
[submodule "color-theme-ambiance"]
	path = color-theme-ambiance
	url = https://github.com/sona-tar/color-theme-ambiance
